@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-accent: #f59e0b;
  --color-background: #ffffff;
  --color-textDark: #0f172a;
  --color-textLight: #64748b;
  --color-border: #e2e8f0;
}